<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="biodanza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="biodanza.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <biodanza.Properties.Settings>
            <setting name="location_FrmTreeClases" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="size_FrmTreeClases" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="splitContainer1_SplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="location_MusicManager" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="size_MusicManager" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </biodanza.Properties.Settings>
        <biodanza.Settings1>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </biodanza.Settings1>
    </userSettings>
</configuration>
